<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianl.dianying.mapper.CinemaMapper">

    <resultMap id="DetailMap" type="com.tianl.dianying.entity.Cinema" extends="ListMap">
    </resultMap>

    <resultMap id="ListMap" type="com.tianl.dianying.entity.Cinema">

    </resultMap>

    <select id="selectByPrimaryKey"  resultMap="DetailMap">
        select * from `cinema`
        where id=#{id}
    </select>

</mapper>