<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianl.dianying.mapper.OrdMapper">

    <resultMap id="DetailMap" type="com.tianl.dianying.entity.Ord" extends="ListMap">
    </resultMap>

    <resultMap id="ListMap" type="com.tianl.dianying.entity.Ord">
        <result property="userId" column="userId" />
        <result property="playId" column="playId" />
        <association property="user" column="userId" fetchType="eager"
                     select="com.tianl.dianying.mapper.UserMapper.selectByPrimaryKey" />
        <association property="play" column="playId" fetchType="eager"
                     select="com.tianl.dianying.mapper.PlayMapper.selectByPrimaryKey" />
    </resultMap>

    <select id="selectByPrimaryKey"  resultMap="DetailMap">
        select * from `ord`
        where id=#{id}
    </select>

</mapper>